body {
font-family: 'Poppins', sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-size: 120%;
background: url('./image/img2.avif');
background-size: cover; /* Set the background size to cover the entire area */
background-repeat: no-repeat;
background-position: center center;
}

.weather-card {
background: rgba(23, 100, 255, 0.2);
color:white;
padding: 2rem;
border-radius: 30px;
width: 100%;
max-width: 600px;
margin: 1em;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
box-shadow: 0 0 10px rgb(4 0 26 / 50%), 0 0 20px rgb(4 3 26 / 50%), 0 0 30px rgb(47 4 4 / 50%), 0 0 40px rgb(13 0 43 / 50%), 0 0 70px rgb(1 0 66 / 50%), 0 0 80px rgb(0 5 87 / 50%);
}

.weather {
width: 100%;
justify-content: space-between;
}

.img-card {
    margin-top: 2rem;
    width: 80%;
    height: 200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}


.search-box {
position: relative;
display: flex;
align-items: right;
margin-bottom: 30px;
}


.search-bar {
padding-right: 30px;
width:calc(100%,-100px);
border: 1px solid #ccc;
border-radius: 30px;
font-size: 14px;
align-items: center;
justify-content: center;
display: flex;
outline:none;
border:none;
background-color: #02022c8b;
color: white;
padding:0.4em 1em;
font-size: 100%;

}


.search-icon {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
font-size: 18px;
color: #efefef;
cursor: pointer;
}


.city-war, .temperature,
.descrip, .humidity, .wind {
text-align: left;
}

h1.temperature{
margin: 0;
margin-bottom: 0.4em ;
}

.descrip{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;
}
